.main_chat
  .main_header
    .main_header__left_box
      %p.main_header__left_box__group_name techcamp
      %ul.main_header__left_box__member_list 
        Member：  
        %li  yae
    = link_to "#", class: "main_header__right_box"do
      .main_header__right_box__Edit_btn Edit
  .messages
    .message
      .message__first_line
        %p.message__first_line__user_name yae
        %p.message__first_line__date 2020/04/06(Mon) 11:45:11
      %p.message__second_line ここにメッセージを表示
    .message
      .message__first_line
        %p.message__first_line__user_name yae
        %p.message__first_line__date 2020/04/06(Mon) 11:45:11
      %p.message__second_line ここにメッセージを表示
    .message
      .message__first_line
        %p.message__first_line__user_name yae
        %p.message__first_line__date 2020/04/06(Mon) 11:45:11
      %p.message__second_line ここにメッセージを表示
  .form
    %form.message_form
      .enter_message
        %input.enter_message__text_box{type:"text", placeholder:"type a message"}
        %label{class:"enter_message__attach_image"}
          = icon('far', 'image')
          %input{type:"file", class:"enter_message__attach_image__hide"}
      %input{type:"submit", value:"send", class:"submit_btn"}